In [59]:
import pandas as pd
import numpy as np

# Read the dataset

df = pd.read_csv("https://raw.githubusercontent.com/SRIPATHIB9/ASGN2/refs/heads/main/train.csv")

print(df.columns.tolist())

['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

**A. Hadling Missing values**
for numerical cols , mostly we use mean or median depending on the distribution of the data,
here im assuming the data is skewed hence considering median

In [60]:
# Check for missing values
print(df.isna().sum())

#  Substituting the numerical columns (using median or mode)
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

# For categorical columns, filling with mode
cat_cols = df.select_dtypes(include=['object']).columns
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

<ipython-input-60-08c04e19718a>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)
<ipython-input-60-08c04e19718a>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

--after handling

In [61]:
df.select_dtypes(include=['float64', 'int64'])

      Unnamed: 0  Year  Kilometers_Driven  Seats  Price
0              1  2015              41000    5.0  12.50
1              2  2011              46000    5.0   4.50
2              3  2012              87000    7.0   6.00
3              4  2013              40670    5.0  17.74
4              6  2013              86999    5.0   3.50
...          ...   ...                ...    ...    ...
5842        6014  2014              27365    5.0   4.75
5843        6015  2015             100000    5.0   4.00
5844        6016  2012              55000    8.0   2.90
5845        6017  2013              46000    5.0   2.65
5846        6018  2011              47000    5.0   2.50

[5847 rows x 5 columns]

In [62]:
df.select_dtypes(include=['object'])

,Name,Location,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,New_Price
0,Hyundai Creta 1.6 CRDi SX Option,Pune,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,4.78 Lakh
1,Honda Jazz V,Chennai,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,8.61 Lakh
2,Maruti Ertiga VDI,Chennai,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,4.78 Lakh
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,4.78 Lakh
4,Nissan Micra Diesel XV,Jaipur,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,4.78 Lakh
...,...,...,...,...,...,...,...,...,...
5842,Maruti Swift VDI,Delhi,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,7.88 Lakh
5843,Hyundai Xcent 1.1 CRDi S,Jaipur,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,4.78 Lakh
5844,Mahindra Xylo D4 BSIV,Jaipur,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,4.78 Lakh
5845,Maruti Wagon R VXI,Kolkata,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,4.78 Lakh
5846,Chevrolet Beat Diesel,Hyderabad,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,4.78 Lakh

**b) Removing Units from Attributes**

In [63]:
# Remove units from Mileage and convert to float
df['Mileage'] = df['Mileage'].astype(str)
df['Mileage'] = df['Mileage'].str.replace(r' km/kg| kmpl', '', regex=True).astype(float)

# Remove units from Engine and convert to float
df['Engine'] = df['Engine'].astype(str)
df['Engine'] = df['Engine'].str.replace(' CC', '', regex=False).astype(float)

# Remove units from Power, handle nulls, and convert to float
df['Power'] = df['Power'].astype(str)
df['Power'] = df['Power'].str.replace(' bhp', '', regex=False)
df['Power'] = df['Power'].replace(['null', 'Null', 'nan', 'NaN'], np.nan).astype(float)

# Remove units from New_Price, handle nulls, and convert to float
df['New_Price'] = df['New_Price'].astype(str)
df['New_Price'] = df['New_Price'].str.replace(r'Lakh', '', regex=False)

In [64]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,4.78,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.88,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,4.78,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,4.78,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,4.78,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,4.78,2.50

**C. Change the categorical variables (“Fuel_Type” and “Transmission”)**

In [65]:
# One hot encode categorical columns
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [69]:
for col in ['Fuel_Type_Electric','Fuel_Type_Petrol', 'Transmission_Manual']:  # changing the boolean values  to int , in the newly added columns
    df[col] = df[col].astype(int)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,4.78,12.50,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.61,4.50,0,1,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,4.78,6.00,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,4.78,17.74,0,0,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,4.78,3.50,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248.0,74.00,5.0,7.88,4.75,0,0,1
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120.0,71.00,5.0,4.78,4.00,0,0,1
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498.0,112.00,8.0,4.78,2.90,0,0,1
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998.0,67.10,5.0,4.78,2.65,0,1,1
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936.0,57.60,5.0,4.78,2.50,0,0,1

**D. Create one more feature and add this column to the dataset**

In [71]:
CURRENT_YEAR = 2025
df['Car_Age'] = CURRENT_YEAR - df['Year']
df.Car_Age

0       10
1       14
2       13
3       12
4       12
        ..
5842    11
5843    10
5844    13
5845    12
5846    14
Name: Car_Age, Length: 5847, dtype: int64

**E. Perform select, filter, rename, mutate, arrange and summarize**

In [78]:
selected_df = df[['Name', 'Year', 'Price', 'Car_Age']]
filtered_df = df[(df['Price'] < 5) & (df['Car_Age'] < 10)]
renamed_df = df.rename(columns={'Name': 'Car Name'})
mutated_df = df.assign(Price_Per_Year=df['Price'] / df['Car_Age'])
df_sorted = df.sort_values(by=['Year','Mileage'], ascending=True)

In [79]:
print(selected_df)
print(filtered_df)
print(renamed_df)
print(mutated_df)
print(df_sorted)

                                  Name  Year  Price  Car_Age
0     Hyundai Creta 1.6 CRDi SX Option  2015  12.50       10
1                         Honda Jazz V  2011   4.50       14
2                    Maruti Ertiga VDI  2012   6.00       13
3      Audi A4 New 2.0 TDI Multitronic  2013  17.74       12
4               Nissan Micra Diesel XV  2013   3.50       12
...                                ...   ...    ...      ...
5842                  Maruti Swift VDI  2014   4.75       11
5843          Hyundai Xcent 1.1 CRDi S  2015   4.00       10
5844             Mahindra Xylo D4 BSIV  2012   2.90       13
5845                Maruti Wagon R VXI  2013   2.65       12
5846             Chevrolet Beat Diesel  2011   2.50       14

[5847 rows x 4 columns]
      Unnamed: 0                                     Name   Location  Year  \
35            37  Mahindra KUV 100 mFALCON G80 K6 5str AW      Delhi  2017
54            56                         Renault KWID RXT      Kochi  2017
62            64                       Tata Indica V2 eLS    Chennai  2016
77            81               Tata Zest Revotron 1.2T XE       Pune  2017
78            82                    Honda Amaze SX i-VTEC      Kochi  2016
...          ...                                      ...        ...   ...
5738        5905          Tata Zest Quadrajet 1.3 75PS XE  Hyderabad  2016
5764        5932            Maruti Alto 800 2016-2019 LXI    Chennai  2016
5772        5941                         Renault KWID RXL       Pune  2018
5796        5966                 Maruti Wagon R VXI BS IV  Hyderabad  2018
5827        5999                    Tata Bolt Revotron XT    Chennai  2016

      Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats New_Price  \
35                52000      First    18.15  1198.0   82.0    5.0     4.78
54                16542      First    25.17   799.0   53.3    5.0     4.78
62               178000      First    25.00  1396.0   69.0    5.0     4.78
77                70000      First    17.57  1193.0   88.7    5.0     6.67
78                54944      First    18.00  1198.0   86.7    5.0     4.78
...                 ...        ...      ...     ...    ...    ...       ...
5738             125000      First    22.95  1248.0   74.0    5.0     8.09
5764               5700      First    24.70   796.0   47.3    5.0     4.78
5772               1000      First    25.17   799.0   53.3    5.0     4.45
5796               1048      First    18.90   998.0   67.1    5.0     4.78
5827              10000      First    17.57  1193.0   88.7    5.0     7.77

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
35     4.85                   0                 1                    1
54     3.30                   0                 1                    1
62     2.50                   0                 0                    1
77     4.50                   0                 1                    1
78     4.82                   0                 1                    1
...     ...                 ...               ...                  ...
5738   4.60                   0                 0                    1
5764   2.80                   0                 1                    1
5772   3.40                   0                 1                    1
5796   4.70                   0                 1                    1
5827   4.00                   0                 1                    1

      Car_Age
35          8
54          8
62          9
77          8
78          9
...       ...
5738        9
5764        9
5772        7
5796        7
5827        9

[302 rows x 16 columns]
      Unnamed: 0                          Car Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0     4.78
1                 46000      First    13.00  1199.0   88.70    5.0     8.61
2                 87000      First    20.77  1248.0   88.76    7.0     4.78
3                 40670     Second    15.20  1968.0  140.80    5.0     4.78
4                 86999      First    23.08  1461.0   63.10    5.0     4.78
...                 ...        ...      ...     ...     ...    ...       ...
5842              27365      First    28.40  1248.0   74.00    5.0     7.88
5843             100000      First    24.40  1120.0   71.00    5.0     4.78
5844              55000     Second    14.00  2498.0  112.00    8.0     4.78
5845              46000      First    18.90   998.0   67.10    5.0     4.78
5846              47000      First    25.44   936.0   57.60    5.0     4.78

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
0     12.50                   0                 0                    1
1      4.50                   0                 1                    1
2      6.00                   0                 0                    1
3     17.74                   0                 0                    0
4      3.50                   0                 0                    1
...     ...                 ...               ...                  ...
5842   4.75                   0                 0                    1
5843   4.00                   0                 0                    1
5844   2.90                   0                 0                    1
5845   2.65                   0                 1                    1
5846   2.50                   0                 0                    1

      Car_Age
0          10
1          14
2          13
3          12
4          12
...       ...
5842       11
5843       10
5844       13
5845       12
5846       14

[5847 rows x 16 columns]
      Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats New_Price  \
0                 41000      First    19.67  1582.0  126.20    5.0     4.78
1                 46000      First    13.00  1199.0   88.70    5.0     8.61
2                 87000      First    20.77  1248.0   88.76    7.0     4.78
3                 40670     Second    15.20  1968.0  140.80    5.0     4.78
4                 86999      First    23.08  1461.0   63.10    5.0     4.78
...                 ...        ...      ...     ...     ...    ...       ...
5842              27365      First    28.40  1248.0   74.00    5.0     7.88
5843             100000      First    24.40  1120.0   71.00    5.0     4.78
5844              55000     Second    14.00  2498.0  112.00    8.0     4.78
5845              46000      First    18.90   998.0   67.10    5.0     4.78
5846              47000      First    25.44   936.0   57.60    5.0     4.78

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
0     12.50                   0                 0                    1
1      4.50                   0                 1                    1
2      6.00                   0                 0                    1
3     17.74                   0                 0                    0
4      3.50                   0                 0                    1
...     ...                 ...               ...                  ...
5842   4.75                   0                 0                    1
5843   4.00                   0                 0                    1
5844   2.90                   0                 0                    1
5845   2.65                   0                 1                    1
5846   2.50                   0                 0                    1

      Car_Age  Price_Per_Year
0          10        1.250000
1          14        0.321429
2          13        0.461538
3          12        1.478333
4          12        0.291667
...       ...             ...
5842       11        0.431818
5843       10        0.400000
5844       13        0.223077
5845       12        0.220833
5846       14        0.178571

[5847 rows x 17 columns]
      Unnamed: 0                               Name    Location  Year  \
3630        3749  Mercedes-Benz E-Class 250 D W 210      Mumbai  1998
3039        3138                     Maruti Zen LXI      Jaipur  1998
5558        5716                      Maruti Zen LX      Jaipur  1998
1791        1845                 Honda City 1.3 EXI        Pune  1999
1185        1224                      Maruti Zen VX      Jaipur  1999
...          ...                                ...         ...   ...
5405        5560          Renault KWID RXT Optional       Kochi  2019
5628        5789                   Renault KWID RXL       Kochi  2019
984         1018    Maruti Swift Dzire VDI Optional       Kochi  2019
4267        4399         Maruti Swift Dzire AMT ZDI     Chennai  2019
4198        4328              Maruti Swift DDiS VDI  Coimbatore  2019

      Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats New_Price  \
3630              55300      First    10.00  1796.0  157.7    5.0     4.78
3039              95150      Third    17.30   993.0   60.0    5.0     4.78
5558              95150      Third    17.30   993.0   60.0    5.0     4.78
1791             140000      First    13.00  1343.0   90.0    5.0     4.78
1185              70000     Second    17.30   993.0   60.0    5.0     4.78
...                 ...        ...      ...     ...    ...    ...       ...
5405               6568      First    25.17   799.0   53.3    5.0     4.78
5628               7858      First    25.17   799.0   53.3    5.0     4.04
984               18592      First    26.59  1248.0   74.0    5.0     4.78
4267              65000      First    26.59  1248.0   74.0    5.0     4.78
4198              41075      First    28.40  1248.0   74.0    5.0     4.78

      Price  Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Manual  \
3630   3.90                   0                 0                    0
3039   0.45                   0                 1                    1
5558   0.53                   0                 1                    1
1791   0.90                   0                 1                    1
1185   0.77                   0                 1                    1
...     ...                 ...               ...                  ...
5405   5.09                   0                 1                    1
5628   3.80                   0                 1                    1
984    8.51                   0                 0                    1
4267   6.75                   0                 0                    0
4198   8.40                   0                 0                    1

      Car_Age
3630       27
3039       27
5558       27
1791       26
1185       26
...       ...
5405        6
5628        6
984         6
4267        6
4198        6

[5847 rows x 16 columns]